extends ../layout.pug
block contenido
 div(class="col-md-5 center-block quitar-float text-left")
  h1 Login administradores
  form(method="POST" action="/admin" style="margin-top:1.5em;")
   div(class="form-group")
    label contrasena
    input(type="password" name="password" placeholder="de su contrasena" class="form-control")
   div(class="form-group text-right")
    input(type="submit" class="btn btn-info" value="guardar")
    