extends ../layout.pug
block contenido
 h1 Panel de administration
 table(class="table")
  caption Productos Actuales
  thead
   tr
    th #
    th Nombre
    th Description
    th Imagenes
    th Acciones
  tbody
   each product in products
    tr
     td= product.id
     td= product.title
     td= product.description
     td #[a(href= product.imageUrl class="btn") ver Imagen]
     td
      a(href="/menu/edit/"+ product.id) editar
      =" - "
      a(href="/menu/"+product.id+"/delete") Eliminar