doctype html
html(lang="en")
 head
  meta(charset="urf-8")
  title Paz interior
  link(rel="icon" href="imags/paz1.jpg" type="imgs/jpg")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  link(href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet")
  link(rel="stylesheet" href="css/animate.css")
  link(rel="stylesheet" href="css/main.css")
 body
  section(class="full-height text-center" id="main-content")
   div(class="col-md-3 center-block quitar-float espacio-arriva")
    img(src="imgs/paz-interior.jpg" class="animated fadeIn")
    h1(class="pacifico verde mediano animated fadeIn retraso-1") Paz Interior
    h2(class="animated pequeno fadeInDown retraso-2") Life is 
     br 
     really simple,
     br 
     but we insist on
     br 
     making it complicated.
     br
     p(class="confucius") Confucius
    nav(class="pequeno animated fadeIn retraso-3")
     a(href="/admin" class="espacio-derecha") Loging
     a(href="/load" class="espacio-derecha") cargar imagenes
     a(href="/pelisfavoritas" class="espacio-derecha") favoritas
  script(src="https://code.jquery.com/jquery-2.1.1.min.js")
  script(src="js/main.js")