doctype html
html(lang="en")
 head
  meta(charset="urf-8")
  title Paz interior
  link(rel="icon" href="imags/paz1.jpg" type="imgs/jpg")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  link(href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet")
  link(rel="stylesheet" href="/css/animate.css")
  link(rel="stylesheet" href="/css/main.css")
 body
  nav(class="es-gris padding-largo text-center")
   ul(class="no-lista")
    li(class="col-md-3 inline-block")
     a(href="/") home
    li(class="col-md-3 inline-block")
     a(href="/load" class="verde pacifico") cargar imagenes
    li(class="col-md-3 inline-block")
     a(href="Pelisfavoritas.html" class="verde pacifico") favoritas
  block contenido