extends ../layout.pug
block contenido
 div(class="col-md-5 center-block quitar-float top-space text-left")
  h1 Biembenido a la plataforma de administracion
  form(method="POST" action="//" + producto.id+"?_method=put" style="margin-top:1.5em;" enctype="multipart/form-data")