extends ../layout.pug
block contenido
 div(class="col-md-5 center-block quitar-float top-space text-left")
  h1 editar producto
  form(method="POST" action="/save/" + producto.id+"?_method=put" style="margin-top:1.5em;" enctype="multipart/form-data")
   div(class="form-group")
    label Nombre
    input(type="text" name="title" value= producto.title placeholder="Nombre del Producto" class="form-control")
   div(class="form-group")
    label Descripcion
    textarea(name="description" placeholder="description del Producto" class="form-control")= producto.description
   div(class="form-group")
    label image-Url
    input(type="text" name="imageUrl" value= producto.imageUrl placeholder="image url" class="form-control")
   div(class="form-group")
    label contrasena
    input(type="password" name="password" placeholder="contrasena" class="form-control")
   div(class="form-group text-right")
    input(type="submit" class="btn nt-info" value="Guardar")