extends ../layout.pug
block contenido
 div(class="col-md-5 center-block quitar-float top-space text-left")
  h1 agregar producto
  form(method="post" action="/menu" style="margin-top:1.5em;" enctype="multipart/form-data")
   div(class="form-group")
    label Nombre
    input(type="text" name="title" placeholder="Nombre del Producto" class="form-control")
   div(class="form-group")
    label Descripcion
    textarea(name="description" placeholder="description del Producto" class="form-control")
   div(class="form-group")
    label Imagen del groducto
    input(type="file" name="avatar_image" placeholder="image url" class="form-control")
   div(class="form-group")
    label contrasena
    input(type="password" name="password" placeholder="contrasena" class="form-control")
   div(class="form-group text-right")
    input(type="submit" class="btn nt-info" value="Guardar")