extends ../layout.pug
block contenido
 div(class="text-center")
  h2(class='pacifico mediano azul') Peliculas
  p Estas son mis peliculas preferidas
 each product in products
  div(class="col-md-4 col-sm-6 col-xs-12 inline-block text-center")
   h3(class="pacifico")= product.title
   img(src= product.imageDefault class="col-xs-7 col-md-4 quitar-float")